html, body {width: 100%;height: 100%;overflow: hidden}
.layui-form-checked span, .layui-form-checked:hover span {background-color: #6495ED;}
.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this {background-color: #6495ED;color: #fff;}