html, body {width: 100%;height: 100%;overflow: hidden}
body {background: #6495ED url("../images/background1.jpg") no-repeat center fixed;background-size: cover;}
body:after {content:'';background-repeat:no-repeat;background-size:cover;-webkit-filter:blur(3px);-moz-filter:blur(3px);-o-filter:blur(3px);-ms-filter:blur(3px);filter:blur(3px);position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;}
.layui-container {width: 100%;height: 100%;overflow: hidden}
.admin-login-background {width:360px;height:500px;position:absolute;left:70%;top:30%;margin-left:-180px;margin-top:-100px;opacity:0.8;}
.logo-title {text-align:center;letter-spacing:2px;padding:14px 0;}
.logo-title h1 {color:#191970;font-size:30px}
.logo-title h2 {color:#191970;font-size:10px;margin-top:10px;}
.login-form {background-color:#fff;border:1px solid #fff;border-radius:3px;padding:14px 20px;box-shadow:0 0 8px #eeeeee;}
.login-form .layui-form-item {position:relative;}
.login-form .layui-form-item label {position:absolute;left:1px;top:1px;width:38px;line-height:36px;text-align:center;color:#d2d2d2;}
.login-form .layui-form-item input {padding-left:36px;font-size:15px}
.login-form .layui-form-item button {background:#6495ED;border-radius:5px;height:45px;font-size:20px;}
.captcha {width:60%;display:inline-block;}
.captcha-img {display:inline-block;width:34%;float:right;}
.captcha-img img {height:34px;border:1px solid #e6e6e6;height:36px;width:100%;}
.layui-form-checked span, .layui-form-checked:hover span {background-color: #6495ED;}